body,html{
	padding:0;
	margin:0;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	height: 100%;
	width: 100%;
}

body{
	text-transform: uppercase;
	//color: #333;
	letter-spacing: 0.02em;
}

//Keep this sacred
.container{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

//Diagnostics
.control_panel {
	font-size: 0.8em;
}

#lobby-div{
	text-align: center;
}

.modal{
	//display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.slick-slide img {
	display: inline !important;
}

/*input{
	-webkit-appearance: none;
	font-family: 'Oswald', sans-serif;
	border: none;
	border-bottom: 3px solid #333;
	margin: 0 0 0.25em 0;
	background-color: transparent;
	color: #333;
	text-align: center;
	font-size: 2em;
	width: 70%;
	text-transform: uppercase;
}

input[type=text]{
	height: 60px;
	color: #333;
}

input[type=submit]{
	border:none;
}

table{
	width: 100%;
	border:0;
	height:30%;
}*/

.testing{
	color: #eee !important;
}

.slick-slide{
	height: 300px !important;
}

//Shaker specific styles
#shaker{
	text-align: center;
	button{
		border-radius: 6em;
		margin: 1em;
		padding: 6em;
		border: none;
	}
}

.hide{
	display:none;
}

.fade{
		-webkit-animation: towhite 2s; /* Chrome, Safari, Opera */
		animation: towhite 2s;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes towhite {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	/* Standard syntax */
	@keyframes towhite {
		from {opacity: 0;}
		to {opacity: 1;}
	}


//DIAGNOSTICS PAGE

#panel-left, #panel-right{
	display: inline-block;
}

  svg {
  }
   
  .line {
    fill: none;
    stroke-width: 2px;
    shape-rendering: optimizeSpeed;
  }
   
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #x path{
    stroke: #f00;
  }

  #y path{
    stroke: #0f0;
  }

  #z path{
    stroke: #00f;
  }

  #x {
    color: #f00;
  }

  #y {
    color: #0f0;
  }

  #z {
    color: #00f;
  }

  .container {
    background-color: #999;
  }

  .control_panel {
    background-color: #000;
    color: #fff;
  }

  .grid .tick {
    stroke: #777;
  }

  .grid path {
      stroke-width: 2px;
  }