<!DOCTYPE html lang="en">
<html lang="en" ng-app="timeApp"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="mobile-web-app-capable" content="yes">
	<title>Revolucion Perpetua</title>
	<link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>
<div id="main_container" data-ng-view="" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
</div>
<div id="modal" class="close">
	<div id="modal-content">
		<h2>Something went wrong, try refreshing the page.</h2>
	</div>
	<!-- <img src="/../../content/tap-tmp.gif"> -->
	<div id="xx"></div>
</div>

<div id="help"><!--The ? for help if need be--></div>


<script type="text/javascript" src="/public/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/d3.min.js"></script>


<!-- ANGULAR LOCAL -->

<script type="text/javascript" src="/public/js/angular.min.js"></script>
<script type="text/javascript" src="/public/js/angular-route.min.js"></script>
<script type="text/javascript" src="/public/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="/public/js/angular-animate.min.js"></script>


<script type="text/javascript" src="http://192.168.17.16:3000/socket.io/socket.io.js"></script>


<script type="text/javascript" src="/public/app/app.js"></script>
<script type="text/javascript" src="/public/app/controllers/song.js"></script>
<script type="text/javascript" src="/public/app/controllers/betweenpages.js"></script>
<script type="text/javascript" src="/public/app/controllers/util.js"></script>
<script type="text/javascript" src="/public/app/controllers/modal.js"></script>
<script type="text/javascript" src="/public/app/controllers/tap.js"></script>
<script type="text/javascript" src="/public/app/controllers/shake.js"></script>
<script type="text/javascript" src="/public/app/controllers/diagnostics.js"></script>
<script type="text/javascript" src="/public/app/controllers/admin.js"></script>
<script type="text/javascript" src="/public/app/controllers.js"></script>
<script type="text/javascript" src="/public/app/factory.js"></script>




<script type="text/javascript" src="/public/js/screenfull.min.js"></script>

</body></html>

