/* Comment */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  font-family: 'IM Fell English', serif;
  background-color: #333; }

#lobby {
  color: #fff; }
  #lobby div {
    -webkit-transform: rotate3d(1, 0, 1, 10deg);
    width: 80%;
    font-size: 6em; }
  #lobby h1 {
    font-family: "Anonymous Pro";
    font-size: 2em; }
  #lobby img {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    opacity: 0.5; }

#shake h1 {
  color: #f00; }

@-webkit-keyframes tapCol {
  from {
    background: #fff; }

  to {
    background: #333; } }
#tap {
  overflow: hidden; }
  #tap h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 5em;
    -webkit-transform: rotate(-90deg); }
  #tap div {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden; }

.bgWhite {
  -webkit-animation: tapCol 0.7s;
  animation: tapCol 0.7s; }

#modal {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Anonymous Pro';
  color: #fff;
  font-size: 1em; }
  #modal img {
    width: 100px;
    height: auto; }

#xx {
  position: absolute;
  right: 4px;
  top: 4px;
  background-image: url("/../../content/close-x-wht.png");
  width: 30px;
  height: 30px; }

.close {
  display: none; }

#content div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#content img {
  width: 100%;
  height: auto;
  position: absolute; }
