<div class="container">

	<div class="modal">
		<h1>ADMIN</h1>

		<input type="text" ng-model="msg.id" value="repeat">
		<input type="text" ng-model="msg.header" value="setpage">	
		<input type="text" ng-model="msg.msg" value="/">
		<button ng-click="sendMsg()"></button>


		<p> this ID is {{userID}}</p>
		<hr>
		<h3>Colours - roate phone</h3>
		<p>Select colour is {{colours.colour}}</p>
		<a href="/colours">link</a>

		<hr>
		<h3>Dash - tap phone</h3>
		<a href="/tapping">link</a>

		<hr>
		<h3>Image - select gif</h3>
		<a href="/image">link</a>

		<hr>
	</div>
</div>