<div class="container">
	<style>
   
  svg {
    font: 10px sans-serif;
  }
   
  .line {
    fill: none;
    stroke: #00f;
    stroke-width: 1.5px;
    /*shape-rendering: geometricPrecision;*/
  }
   
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    /*shape-rendering: geometricPrecision;*/
  }
   
  </style>

	<div id="visualization"></div>

	<!-- <h1><br/>{{speed}}</h1> -->

	<form class="control_panel">

		<!-- <button id="movingAverage">Moving Average</button>
  		<button id="differenceValue">Difference Value</button>

  		<input type="text" minlength="3" maxlength="4" ng-model="tcValue" ng-change="changeLength()" ng-click="tcValue=''"><br/>

  		<input type="text" minlength="3" maxlength="4" ng-model="alphVal" ng-change="alphChange()" ng-click="alphVal=''"><br/> -->

  	</form>

</div>