<div class="container">

  <h1>Diagnostics Page</h1>

	<div id="visualization"></div>

  <div id="panel-left">

    <ul>
      <li>Msgs/Sec: {{speed}}</li>
    </ul>

    <h3><br/>Tapped: {{tapped}}</h3>

    <ul>
      <li id="x">X Axis</li>
      <li id="y">Y Axis</li>
      <li id="z">Z Axis</li>
    </ul>

  </div>

  <div id="panel-right">

		<button id="movingAverage">Moving Average</button>

  		<li>Timing: <input type="text" minlength="3" maxlength="4" ng-model="tcValue" ng-change="changeLength()" ng-click="tcValue=''"></li>

  		<li>Smoothing: <input type="text" minlength="3" maxlength="4" ng-model="alphVal" ng-change="alphChange()" ng-click="alphVal=''"></li>

      <li>Threshold: <input type="text" minlength="1" maxlength="3" ng-model="threshValue" ng-change="threshold()" ng-click="threshValue=''"></li>

  </div>
</div>